.g1{
    margin-right:100px;
    text-align: center;
    color: white;
    
}
.back{
    background-color:black;

}

.dados{
    color: #5d665b;
  font-size: large;
  font-family: Verdana, Geneva, Arial, sans-serif;
  background-color: #e8eae8;
}