


#app {
  color: #4a4a4a;
  margin-top: 20px;
  margin-left: 50px;
}

#app h1 {
  font-size: 30px;
}

#app input {
  border: 0;
  background: #eee;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  color: 1a1a1a;
  padding-bottom: 20px;
}

textarea, input { outline: none; }

h4 {
  font-size: 15px;
  color: red;
}

