.navbar {
    background-color: #7a37f7;
}

.nav-item a{
    color: #0F0E33;
    transition: .3s ease-in;
    border-width: medium;
  border-style: double;
  border-color: #00f;
  margin: 4px;
  margin-right: 0 auto;
}

.nav-item a:hover{
    color: #460080;
}

.dropdown-menu {
    background-color: #7a37f7;
    color:white;
}
.card-tile{
    margin-right: 50px;
}


#wellcome{
    color:red;
    background-color:blue;
    border-style: double;
     border-color: black;
}

.h1{
     color: green; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; 

}
.nav-item{
    background-color:black;
    
}

.search{
    margin-left:10px
}